.grid-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    padding: 20px;
}

.grid{
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight{
    color: white;
    background-color: rgb(38, 82, 228);
    padding: 10px;
    border-radius: 10px;
}

.reset{
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: red;
}
